<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
    <title>MHStrategy</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <div class="user_logado">
        <p>{{ current_user.username }}</p>
    </div>

    {% else %}

    <div class="user_deslogado">
        <p>Ainda não tem uma conta? Registre-se!</p>
    </div>
    {% endif %}
</body>
</html>