<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/monsters.css')}}">
    <title>MHStrategy</title>
</head>
<body>
    <div id="option_monster">
        <label for="monsters">Choose a Monster: </label>
        <select name="monsters" id="monsters">
            <optgroup label="Ancient Dragons">
                <option selected disabled>Monsters</option>
                <option value="fatalis">Fatalis</option>
                <option value="nergigante">Nergigante</option>
            </optgroup>            <optgroup label="Ancient Dragons">
                <option selected disabled>Monsters</option>
                <option value="fatalis">Fatalis</option>
                <option value="nergigante">Nergigante</option>
            </optgroup>            <optgroup label="Ancient Dragons">
                <option selected disabled>Monsters</option>
                <option value="fatalis">Fatalis</option>
                <option value="nergigante">Nergigante</option>
            </optgroup>
        </select>
    </div>
</body>
</html>