<!DOCTYPE html>
<html lang="pt-brr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHStrategy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/sign.css')}}">
</head>
<body>
    <header>
        <div class="menu">
            <a href="/">home</a>
        </div>
    </header>
    <div class="teste">
        <h2 style="text-align: center;">Cadastro</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Digite seu e-mail">
            <input type="password" name="password" placeholder="Digite sua senha">
            <input type="text" name="username" placeholder="Digite seu username">
            <input type="submit" value="Enviar" style="width: 408px;">
        </form>
        <a href="/login">Faça login!</a>
    </div>