*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:bisque;
}

input{
    text-align: center;
    display: block;
    height: 35px;
    width: 400px;
    margin: 10px;
}

.teste{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teste {
    text-align: right;
}

.teste a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

header {
    padding: 20px 0px 0px 20px;
}

.menu{
    text-align: left;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}